<%-include('../cabecalho.ejs')%>
<h1>Cursos</h1>
<table>
<tr>
    <td>Nome</td>
    <td>Área</td>
    <td>Ano de Fundação</td>
    <td>Nível</td>
    <td>Ações</td>
</tr>
<% for(const { nome, area, anoFundacao, nivel, id } of Cursos) { %>
<tr>
    <td><%= nome %></td>
    <td><%= area %></td>
    <td><%= anoFundacao %></td>
    <td><%= nivel %></td>
</tr>
<% } %>
</table>
<%-include('../rodape.ejs')%>